pandas
numpy
matplotlib
seaborn
scikit-learn
sentence-transformers
faiss-cpu
chromadb
langchain
fastapi
uvicorn
streamlit
streamlit-chat
jupyterlab
ipykernel
python-dotenv
faiss-cpu
transformers
accelerate
tabulate
huggingface_hub
